.container {
  width: 600px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;
  min-height: 300px;
}

.final_price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0px;
}

.ingredients_scrollable_container {
  overflow: auto;
  max-height: 500px;
}

.on_drag_ready {
  border: 3px dotted rgba(0, 128, 0, 0.8);
  opacity: 1 !important;
}

.on_drag_hover {
  border: 1px dotted rgba(128, 0, 107, 0.6);
}

.scrollbar_appeared {
  margin-right: -20px;
  padding-right: 12px;
}

.empty_dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  color: rgba(77, 77, 118, 0.42);
}

.fake_ingredient {
  width: 500px;
  opacity: 0.3;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 7px;
}

.drop_sign {
  opacity: 0.1;
}
