.container {
  width: 540px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.final_price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 15px;
}

.constructor_element_container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
