.ingredients_list_container {
  max-width: 500px;
  transition: all 0.2ms;
}

.ingredient_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 50%;
  cursor: pointer;
}

.ingredient_container p {
  text-align: center;
  display: flex;
  align-items: center;
}

.ingredients_panel {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  max-height: 600px;
  overflow: auto;
  padding: 20px;
  margin-top: 20px
}
