.ingredients_list_container {
  max-width: 500px;
  transition: all 0.2ms;
}

.ingredient_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 45%;
}

.ingredient_container p {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.price {
  text-align: center;
  display: flex;
  align-items: center;
}

.ingredients_panel {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  max-height: 600px;
  overflow: auto;
  padding: 20px;
}

.ingredients_panel_title {
  flex-basis: 100%;
  font-size: 20px;
  margin-top: 30px;
}

img {
  cursor: pointer;
}

.DetailPopup {
  position: absolute;
  top: 5px;
  left: 25px;
  visibility: hidden;
  opacity: 0;
  transition: visibility .7s, opacity 0.7s linear;
  cursor: pointer;
}

.ingredient_container:hover .DetailPopup {
  visibility: visible;
  opacity: 1;
}