.ModalWindow {
  width: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 20px;
  background: #1C1C21;
  border: 1px solid #020202;
  z-index: 999;
}

.TitleAndClose {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .ModalWindow {
    width: 90%;
  }
}