.constructor_element_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.reorder_placeholder {
    height: 5px;
    border-radius: 20px;
    transition: height 0.3s ease-out;
}

.reorder_placeholder_hover {
    height: 80px;
    border: 1px dashed rgba(0, 255, 234, 0.12);
}

.drag_placeholder {
    height: 0;
    opacity: 0;
    border-radius: 20px;
    border: 1px dotted rgba(0, 174, 255, 0.3);
}

.drag_placeholder_opened {
    height: 80px;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}
